https://codeload.github.com/npm/npm/zip/refs/tags/v6.1.0
https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz
https://nodejs.org/dist/v20.11.1/node-v20.11.1-win-x64.zip
