eamodio.gitlens
ms-python.python
#ms-python.vscode-pylance
ms-toolsai.jupyter
#charliermarsh.ruff
redhat.ansible
redhat.vscode-yaml
#rust-lang.rust-analyzer
tamasfe.even-better-toml
vscjava.vscode-java-pack
vscode-icons-team.vscode-icons
vscodevim.vim
yzhang.markdown-all-in-one
zhuangtongfa.material-theme
